.Button {
    display: initial;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    background: none;
}

.outline {
    padding: 8px;
    border: var(--primary-color);
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
