.Button {
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  background: none;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);

}

