.SidebarItem {
    display: flex;
    gap: 12px;
    font-size: var(--font-size-l);

    svg {
        fill: var(--inverted-primary-color);
    }

    span {
        transition: 0.3s;
    }

    &.collapsed {
        margin-left: 8px;

        span {
            display: none;
        }
    }
}
