.ArticleFilters {
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
}

.search {
  margin-top: 16px;
}

.tabs {
  margin-top: 16px;
}
